@use '../util/_var'
@use '../util/_mixins'

.Item
  width: 100%
  min-height: 44px
  border-bottom: 1px dotted gray
  display: grid
  grid-template-columns: auto 90px
  button
    height: 44px
    width: 44px
    background: none
    color: white
    border: 0
    @media screen and (prefers-color-scheme: light)
      color: black
  > span
    @include mixins.flex-row 
    padding: 0 8px
    cursor: pointer
  div
    padding-left: 4px
    @include mixins.flex-row
      align-items: stretch
      justify-content: space-between
    span 
      cursor: pointer
      @include mixins.flex-row
  .Submit
    grid-column: 1/3
    margin: 0
    button
      width: 100%
      color: white
      &:hover 
        color: black

$px: 2px

.cat-1 //income
  border-left: $px solid lime
  @media screen and (prefers-color-scheme: light)
    border-left: $px solid darken(lime, 10%)
.cat-2 //giving
  border-left: $px solid aqua
  @media screen and (prefers-color-scheme: light)
    border-left: $px solid darken(aqua, 10%)
.cat-3 //debt
  border-left: $px solid deepPink
  @media screen and (prefers-color-scheme: light)
    border-left: $px solid darken(deepPink, 10%)
.cat-4 // taxes
  border-left: $px solid blue
.cat-5 // insurance / property taxes
  border-left: $px solid orange

.cat-6, .cat-7 //saving, investing
  border-left: $px solid lime
  @media screen and (prefers-color-scheme: light)
    border-left: $px solid darken(lime, 10%)
.cat-8 //utilities
  border-left: $px solid crimson
  @media screen and (prefers-color-scheme: light)
    border-left: $px solid darken(crimson, 10%)
.cat-9 // food
  border-left: $px solid yellow
  @media screen and (prefers-color-scheme: light)
    border-left: $px solid darken(yellow, 10%)
.cat-10 // transport
  border-left: $px solid lighten(indigo, 10%)
  @media screen and (prefers-color-scheme: light)
    border-left: $px solid indigo
.cat-11 // misc
  border-left: $px solid lightGray